.header-stuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    width: 60%;
}