.header-stuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    width: 60%;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

footer > small {
    margin: 1rem;
}