<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/gallery.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
    </style>
    <title>Snapshot</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="Snapshot 📸">
    <meta property="og:description" content="{{prompt}}">
    {% if og.display %}
    <meta property="og:image" content="{{og.url}}">
    {% endif %}
</head>

<body>
    <center>
        <h1>{{prompt}}</h1>
        <h3>Posted {{date}}</h3>
    </center>
    <ul>
        {% for pic in pics %}
        {% if pic.winner %}
        <li>
            <a href="{{pic.click_url}}">
                <img src="{{pic.url}}" class="winner" />
            </a>
            <div class="pic-text">
                <span>@{{pic.user}}</span>
                <span>Editor's choice</span>
            </div>
        </li>
        {% else %}
        <li>
            <a href="{{pic.click_url}}">
                <img src="{{pic.url}}" />
            </a>
            <div class="pic-text">
                <span>@{{pic.user}}</span>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</body>

</html>
