<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/gallery.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
    </style>
    <title>Snapshot</title>
</head>

<body>
    <center>
        <h1>{{prompt}}</h1>
        <h3>Posted {{date}}</h3>
    </center>
    <ul>
        {% for pic in pics %}
        <li>
            <a href="{{pic.url}}">
                <img src="{{pic.url}}" />
            </a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>
