.header-stuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

a {
    text-decoration: none;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

footer > small {
    margin: 1rem;
}